<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Uploaded Files</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">

  <div class="container-fluid ">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/static/background-image.jpg"  width="30" height="24" class="d-inline-block align-text-top">
        becuper
      </a>
    </div>
    <form class="d-flex" role="search" onsubmit="return false;">
      <input class="form-control me-2" type="search" id="searchInput" placeholder="Поиск файла" aria-label="Search">
      <button class="btn btn-outline-success" type="button" onclick="searchFiles()">Поиск</button>
    </form>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/files">Главная</a>
        <a class="nav-link" href="/upload">Загрузка файлов</a>
        <a class="nav-item mt-1" >
          <form th:action="@{/logout}" method="post">
            <input class="btn btn-outline-success" type="submit" value="Выход"/>
          </form>
        </a>
      </div>
    </div>
  </div>

</nav>
<h1>Версии загруженного файла</h1>
<div id="accordion">
<ul>
  <li th:each="file,state : ${files}">
    <button class="btn " type="button" th:text="${file}" data-bs-toggle="collapse" th:data-bs-target="'#' + ${state.index}" aria-expanded="false" th:aria-controls="${state.index}">
    </button>
    <div class="collapse multi-collapse"  th:id="${state.index}" th:data-bs-parent="'#accordion'">
      <div class="card card-body ">
        <form th:action="files" method="get">
          <a class="nav-link" href="/file/{fileName}" th:href="@{'/file/' + ${file}}">Загрузить</a>
        </form>
        <form th:action="files" method="get">
          <a class="nav-link" href="#" th:atribute = "${file}" onclick="confirmDeleteFile(event, this.getAttribute('atribute'))">Удалить</a>
        </form>
        <a class="nav-link" href="#" th:data-access-form="${file}" onclick="showAccessForm(event, this.getAttribute('data-access-form'))">Предоставить доступ</a>
        <div th:id="'accessFormContainer-'+${file}" style="display: none;">
          <form th:action="@{'/filesAccessVersion/' + ${file}}" method="post">
            <input type="text" name="username" placeholder="Имя пользователя">
            <button type="submit" class="btn btn-outline-success" th:formaction="'/filesAccessVersion/' + ${file}">Подтвердить</button>
          </form>
        </div>
      </div>

    </div>
  </li>
</ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
<script>
  function searchFiles() {
    var input = document.getElementById("searchInput");
    var filter = input.value.toLowerCase();
    var fileButtons = document.getElementsByClassName("btn btn-dark bg-dark");

    for (var i = 0; i < fileButtons.length; i++) {
      var fileButton = fileButtons[i];
      var fileName = fileButton.textContent.toLowerCase();
      var listItem = fileButton.parentNode;

      if (fileName.includes(filter)) {
        listItem.style.display = "";
      } else {
        listItem.style.display = "none";
      }
    }
  }
</script>
<script>
  function showAccessForm(event, formId) {
    event.preventDefault();
    var formContainer = document.getElementById('accessFormContainer-' + formId);
    if (formContainer.style.display === 'none') {
      formContainer.style.display = 'block';
    } else {
      formContainer.style.display = 'none';
    }
  }
</script>
<script>
  function confirmDeleteFile(event, fileName) {
    event.preventDefault(); // Отменить стандартное действие ссылки

    if (confirm('Вы уверены, что хотите удалить файл "' + fileName + '"?')) {
      // Если пользователь нажал "ОК", выполнить удаление
      window.location.href = '/fileDelete/' + fileName;
    }
  }
</script>
</body>
</html>